// @import '~antd/dist/antd.less';
// @import '~antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
// @import '~antd/dist/antd.compact.less'; // 引入官方提供的紧凑 less 样式入口文件
 .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
.site-layout{
  overflow: hidden;
}
.site-layout .site-layout-background {
  height:100vh;
  background: #0a3548 !important;
}
.ant-layout-sider{
    width:250px !important;
    max-width: 250px !important;
    min-width: 250px !important
}
.ant-layout-sider-trigger {
    width:250px !important;
}
.monitorLayout .ant-layout-sider{
  background:rgb(10,53,72) !important;
}

::-webkit-scrollbar {
  width:12px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
  box-shadow:inset006pxrgba(23, 95, 125,0.3);
  border-radius:10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgb(23, 95, 125);
  box-shadow:inset006pxrgba(23, 95, 125,0.3);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background:rgb(23, 95, 125);
  }

  // IE ::-webkit-scrollbar

.scrollbar{
  scrollbar-arrow-color: rgb(23, 95, 125); 
  scrollbar-face-color: rgb(23, 95, 125); 
  scrollbar-3dlight-color: rgb(7, 43, 59); 
  scrollbar-highlight-color: rgb(7, 43, 59); 
  scrollbar-shadow-color: rgb(7, 43, 59); 
  scrollbar-darkshadow-color: rgb(7, 43, 59);
  scrollbar-track-color: rgb(7, 43, 59); 
  scrollbar-base-color:rgb(23, 95, 125);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background-color: rgb(6, 24, 30) !important;
}
