
.monitorLayout{
    min-height:calc(100vh - 40px);
}
.monitorLayout > .ant-layout-sider{
    width:180px !important;
    min-width: 180px !important;
    max-width: 180px !important;
}
#main{
    min-height:calc((100vh - 40px)/2 - 56px);
    height:calc((100vh - 40px)/2 - 56px);
    // min-width:100%;
}
.monitiorChart{
    min-height:calc((100vh - 40px)/2);
    height:calc((100vh - 40px)/2);
    overflow:hidden;
}
.monitiorTable{
    min-height:calc((100vh - 40px)/2);
    height:calc((100vh - 40px)/2);
    overflow:hidden;
}
// .layout{
//     min-height:100%;
// }

// .site-layout-background{
//     min-height:100% !important;
// }