
.monitorLayout{
    min-height:calc(100vh - 40px);
}
.monitorLayout > .ant-layout-sider{
    width:160px !important;
    min-width: 160px !important;
    max-width: 160px !important;
}
#main{
    min-height:calc((100vh - 40px)/2 - 56px);
    height:calc((100vh - 40px)/2 - 56px);
    width:calc(100vw - 430px);
    min-width:calc(100vw - 430px);
}
#container{
    min-height:calc((100vh - 40px));
    height:calc((100vh - 40px));
    // width:calc(100vw - 430px);
    // min-width:calc(100vw - 430px);
}
.monitiorChart{
    min-height:calc((100vh - 40px)/2);
    height:calc((100vh - 40px)/2);
    overflow:hidden;
}
.monitiorTable{
    min-height:calc((100vh - 40px)/2);
    height:calc((100vh - 40px)/2);
    overflow:hidden;
}
// .layout{
//     min-height:100%;
// }

// .site-layout-background{
//     min-height:100% !important;
// }

#sw_renderer{
    background-color: #000;
}
#sw_renderer text{
    fill:#fff !important
}
#sw_renderer text tspan{
    fill:#fff !important
}
#bd-subwayInfo{
    background-color: #fff;
    opacity: 0.5;
    color: #000;
    font-size: 20px;
}